<app-header></app-header>

<div class="container main-body">
    <div class="h3">
        บริษัทผู้จ้าง (ลูกค้า)
        <div class="text-muted h6 fw-normal">
            <small>ข้อมูลบริษัทผู้จ้าง (ลูกค้า)</small>
        </div>
    </div>
    <div class="bg-white border mt-4 p-4 shadow">
        <div class="row">
            <div class="col-md-8">
                <form [formGroup]="createForm" (ngSubmit)="onSubmit(template)">
                    <div class="mb-3">
                        <label for="" class="form-label m-0">ชื่อ-นามสกุล <span
                                class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="" formControlName="name">
                        <!-- <div
                            *ngIf="(createForm.get('name')?.invalid && (createForm.get('name')?.dirty || createForm.get('name')?.touched))">
                            <small class="message-error"><i class="fa-solid fa-square-xmark"></i> ข้อมูลไม่ถูกต้อง</small>
                        </div> -->
                        <div *ngIf="(createForm.controls['name'].hasError('required') && (createForm.get('name')?.dirty || createForm.get('name')?.touched))">
                            <small class="message-error"><i class="fa-solid fa-square-xmark"></i> ชื่อ-นามสกุล ห้ามว่าง</small>
                        </div>
                        <!-- <div *ngIf="(createForm.controls['name'].hasError('email') && (createForm.get('name')?.dirty || createForm.get('name')?.touched))">
                            <small class="message-error"><i class="fa-solid fa-square-xmark"></i> email ไม่ถูกต้อง</small>
                        </div> -->
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label m-0">ที่อยู่ <span
                                class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="" formControlName="address">
                        <div *ngIf="(createForm.controls['address'].hasError('required') && (createForm.get('address')?.dirty || createForm.get('address')?.touched))">
                            <small class="message-error"><i class="fa-solid fa-square-xmark"></i> ที่อยู่ ห้ามว่าง</small>
                        </div>                       
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label m-0">ที่อยู่ 2</label>
                        <input type="text" class="form-control" id="" formControlName="address2">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label m-0">เบอร์โทรศัพท์ <span
                                class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="" formControlName="phone">
                        <div *ngIf="(createForm.controls['phone'].hasError('required') && (createForm.get('phone')?.dirty || createForm.get('phone')?.touched))">
                            <small class="message-error"><i class="fa-solid fa-square-xmark"></i> เบอร์โทรศัพท์ ห้ามว่าง</small>
                        </div>                        
                        <div *ngIf="(createForm.controls['phone'].hasError('pattern') && (createForm.get('phone')?.dirty || createForm.get('phone')?.touched))">
                            <small class="message-error"><i class="fa-solid fa-square-xmark"></i> ตัวเลขเท่านั้น</small>
                        </div>                        
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label m-0">เลขที่บัตรประชาชน/เลขที่ภาษีอากร</label>
                        <input type="text" class="form-control" id="" formControlName="vatNumber">
                        <div *ngIf="(createForm.controls['vatNumber'].hasError('pattern') && (createForm.get('vatNumber')?.dirty || createForm.get('vatNumber')?.touched))">
                            <small class="message-error"><i class="fa-solid fa-square-xmark"></i> ตัวเลขเท่านั้น</small>
                        </div>                            
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm me-1" [disabled]="createForm.invalid"><i class="fa-regular fa-floppy-disk"></i> บันทึก </button>
                    <button class="btn btn-secondary btn-sm " [routerLink]="['/setting/customer']"><i class="fa-solid fa-arrow-left"></i> กลับ</button>
                </form>
            </div>

        </div>


    </div>
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <p>ยืนยันเพื่มข้อมูลบริษัทผู้จ้าง (ลูกค้า)</p>

    <div *ngIf="(isProcess == true) then showSaveLoading"></div>
    <ng-template #showSaveLoading>
        <p><i class="fa-solid fa-circle-notch fa-spin"></i> กำลังบันทึก...</p>
    </ng-template>   

    <button type="button" class="btn btn-primary btn-sm me-1" [disabled]="(isProcess == true)"  (click)="confirm()" >ยืนยัน</button>
    <button type="button" class="btn btn-secondary btn-sm" [disabled]="(isProcess == true)" (click)="decline()" >ยกเลิก</button>
    
  </div>
</ng-template>
<app-footer></app-footer>