<div *ngIf="loading; then Loading else ShowData"></div>
<ng-template #Loading>
    <tr>
        <td colspan="5"><i class="fa-solid fa-circle-notch fa-spin"></i> Loading...</td>
    </tr>
</ng-template>

<ng-template #ShowData>

    <table class="table table-hover border-bottom">
        <thead>
            <tr class="">
                <td><strong>ราคางาน</strong></td>
                <td class="text-end text-primary "><strong>{{workPrice | number: '1.2-2'}}</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of itemRef?.data">
                <td class="border-right-0 ">{{item.cost_date | date: 'dd/MM/yyyy'}} <small class="text-muted">{{item.name}}</small></td>
                <td class="text-end text-danger ">{{item.cost_amount | number: '1.2-2'}}</td>
            </tr>
            <tr class="">
                <td><strong>ค่าใช้จ่ายทั้งหมด</strong></td>
                <td class="text-end text-danger "><strong>{{sumCost | number: '1.2-2'}}</strong></td>
            </tr>
            <tr class="">
                <td><strong>กำไรสุทธิ</strong></td>
                <td class="text-end text-success "><strong>{{(workPrice-sumCost) | number: '1.2-2'}}</strong></td>
            </tr>

        </tbody>
    </table>

</ng-template>
{{step}}
