<app-header></app-header>

<div class="container main-body">
    <div class="h3">            
        ค่าใช้จ่าย
        <div class="text-muted h6 fw-normal">
            <small>ค่าใช้จ่ายทั้งหมดในการดำเนินงาน</small>
        </div>
    </div>
    <div class="bg-white border mt-4 p-5 shadow">
        <div class="row  pb-5 ">
            <div class="col-12" >
                <p class="fw-bolder">ระบบขอใช้ห้องและอาคารสถานที่</p>
                <span class="fw-light">
                    เป็นระบบที่พัฒนาขึ้นมาเพื่อช่วยอำนวยความสะดวกให้กับบุคลากร และนักศึกษา 
                    <br>
                    ที่ต้องการจองใช้งานห้อง หรืออาคารสถานที่ต่างๆ ของคณะวิทยาการจัดการ
                    <br>
                    อีกทั้งยังช่วยในการบริหารจัดการ ตรวจสอบ อนุมัติ อย่างเป็นระบบ 
                    <br>
                    สามารถตรวจสอบสถานะการดำเนินการได้        
                </span>
                
            </div>    
        </div>
        
        <div class="row pt-5 border-top">
            <div class="col-12">
                <div class="fw-bolder">ดูแลและพัฒนาโดย</div>
                <ul>
                    <li class="pb-1 fw-light">คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏยะลา</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
