<app-header></app-header>

<div class="container main-body">
    <div class="h3">
        บริษัท
        <div class="text-muted h6 fw-normal">
            <small>ข้อมูลบริษัท/เจ้าของกิจการ</small>
        </div>
    </div>
    <div class="bg-white border mt-4 p-4 shadow">
        <div class="row">
            <div *ngIf="(editForm) then showEditForm else showNotFound"></div>
            <ng-template #showNotFound><div class="col-md-8">ไม่พบข้อมูล</div></ng-template>
            <ng-template #showEditForm>
                <div class="col-md-8">
                    <form [formGroup]="EditForm" (ngSubmit)="onSubmit(template)">
                        <div class="mb-3">
                            <label for="" class="form-label m-0">ชื่อบริษัท <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="name" name="name" formControlName="name">
                            <div
                                *ngIf="(EditForm.controls['name'].hasError('required') && (EditForm.get('name')?.dirty || EditForm.get('name')?.touched))">
                                <small class="message-error"><i class="fa-solid fa-square-xmark"></i> ชื่อบริษัท ห้ามว่าง</small>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label m-0">ที่อยู่ </label>
                            <input type="text" class="form-control" formControlName="address" id="address" name="address">
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label m-0">เบอร์โทรศัพท์ </label>
                            <input type="text" class="form-control" id="" formControlName="phone">
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label m-0">เลขที่บัตรประชาชน </label>
                            <input type="text" class="form-control" id="" formControlName="idcard">
                        </div>                        
                        <div class="mb-3">
                            <label for="" class="form-label m-0">เลขที่ภาษีอากร</label>
                            <input type="text" class="form-control" id="" formControlName="vatNumber">
                        </div>
                        <input type="hidden" class="form-control" id="id" formControlName="id">
                        <button type="submit" class="btn btn-primary btn-sm me-1" [disabled]="EditForm.invalid"><i class="fa-solid fa-pen"></i> แก้ไข
                        </button>
                        <button class="btn btn-secondary btn-sm " [routerLink]="['/setting/company']"><i class="fa-solid fa-arrow-left"></i> กลับ</button>
                    </form>
                </div>
            </ng-template>
        </div>


    </div>
</div>
<ng-template #template>
    <div class="modal-body text-center">
        <p>ยืนยันแก้ไขข้อมูล</p>

        <div *ngIf="(isProcess == true) then showSaveLoading"></div>
        <ng-template #showSaveLoading>
            <p><i class="fa-solid fa-circle-notch fa-spin"></i> กำลังบันทึก...</p>
        </ng-template>

        <button type="button" class="btn btn-primary btn-sm me-1" [disabled]="(isProcess == true)" (click)="confirm()">ยืนยัน</button>
        <button type="button" class="btn btn-secondary btn-sm" [disabled]="(isProcess == true)" (click)="decline()">ยกเลิก</button>

    </div>
</ng-template>
<app-footer></app-footer>