  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm border">
    <div class="container-fluid">
      <span class="d-xl-block d-sm-none"><a class="navbar-brand" href="#">งานรับเหมาพาดสายสื่อสาร</a></span>
      <span class="d-md-block d-lg-none"><a class="navbar-brand" href="#">HRG-Contractor</a></span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">สถานะงาน</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ค่าใช้จ่าย</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ใบเสร็จรับเงิน</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">รับเงิน</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ตั้งค่า/รายงาน</a>
          </li>
        </ul>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav> -->



  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm border-bottom fixed-top" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../../../../../assets/logo.JPG" alt="..." height="36"> งานรับเหมาพาดสายสื่อสาร</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-light" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbar2Label">เมนู</h5>
          <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">สถานะงาน</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ค่าใช้จ่าย</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ใบเสร็จรับเงิน</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">รับเงิน</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ตั้งค่า/รายงาน</a>
            </li>
          </ul>
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0 dropdown">
              <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>