<main class="d-flex w-100 login-background" id="login-background">
  <div class="container d-flex flex-column">
    <div class="row vh-100">
      <div class="col-sm-10 col-md-8 col-lg-6 col-xl-3 mx-auto d-table h-100">
        <div class="d-table-cell align-middle">

          <div class="text-center mt-4">
            <p class="lead">
              <img src="/assets/fildan_firhan.png" alt="..." height="200">
            </p>
            
          </div>

          <div class="card shadow" style="opacity: 0.7; ">
            <div class="card-body">
              <div class="m-sm-1">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="form-group mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control form-control-sm" type="text" placeholder="Enter your email" 
                      formControlName="email"  maxlength="50" 
                      [disabled]="isProcess" required />
                    <div *ngIf="(loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched))">
                       <small class="message-error"><i class="fa-solid fa-square-xmark"></i> ข้อมูลไม่ถูกต้อง</small>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input formControlName="password" class="form-control form-control-sm" type="password" placeholder="Enter your password"
                       maxlength="50" [disabled]="isProcess" />
                       <div *ngIf="(loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched))">
                        <small class="message-error"><i class="fa-solid fa-square-xmark"></i> ข้อมูลไม่ถูกต้อง</small>
                      </div>
                  </div>
                  <div>
                    <div class="form-check align-items-center">
                      <input id="customControlInline" type="checkbox" class="form-check-input" value="remember-me"
                        name="remember-me" checked>
                      <label class="form-check-label text-small" for="customControlInline">Remember me</label>
                    </div>
                  </div>
                  <div class="d-grid gap-2 mt-3">
                    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid"><fa-icon
                        [icon]="['fas', 'key']"></fa-icon> Sign in </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- <div class="text-center mb-3">
            Don't have an account? <a href='/pages-sign-up'>Sign up</a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</main>